[user]
	name = david_puustinen
	email = david.puustinen@gmail.com
[alias]
	pushd = push -u origin HEAD
[core]
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
